<h1>Bonjour ! Vérifiez votre e-mail !</h1>

<p>
    Veuillez vérifier votre e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
